<h2 mat-dialog-title>Profil</h2>

<mat-dialog-content class="content" [formGroup]="form">

  <div class="avatar-section">
    <button
      type="button"
      class="avatar-btn"
      aria-label="Change logo"
    >
      <mat-icon class="avatar-icon">account_circle</mat-icon>
    </button>
  </div>

  <!-- ROWS -->
  <div class="info">

    <div class="row">
      <div class="label">Nom</div>

      <div class="value selectable">
        <div class="name-grid">
          <mat-form-field appearance="outline">
            <mat-label>Prénom</mat-label>
            <input matInput formControlName="firstName" />
            <mat-error>Prénom invalide</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Nom</mat-label>
            <input matInput formControlName="lastName" />
            <mat-error>Nom invalide</mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="label">Email</div>

      <div class="value">
        <span>{{ user.email }}</span>
      </div>
    </div>

    <div class="row">
      <div class="label">Rôle</div>
      <div class="value">
        <span>{{ roleEnToFr(user.role) }}</span>
      </div>
    </div>
  </div>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="cancel()">Fermer</button>
  <button mat-flat-button color="primary" (click)="submit()">
    Enregistrer les modifications
  </button>
</mat-dialog-actions>
