@use 'basic';

// --- Variables ---
$grid-desktop: 2fr 1fr 1fr 2fr 100px;
$grid-mobile: 2fr 1fr 80px;

// --- Styles ---
:host {
  display: block;
  width: 100%;
}

.header {
  @include basic.app-header;
}

.empty-container {
  @include basic.empty-container;
  button mat-icon {
    margin-right: 0.5rem;
  }
}

.contacts-table {
  @include basic.table-container;
}

.table-header,
.table-row {
  display: grid;
  grid-template-columns: $grid-desktop;
}

.table-header {
  @include basic.table-header;
}

.table-row {
  @include basic.table-row;

  .cell {
    &.name-cell,
    &.role-cell,
    &.email-cell {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &.name-cell {
      font-weight: 500;
    }
  }
}

// --- Media Queries ---
@media (max-width: 768px) {
  .table-header,
  .table-row {
    grid-template-columns: $grid-mobile;
    font-size: 0.9rem;
  }

  .header-cell,
  .cell {
    &.role-cell,
    &.email-cell {
      display: none;
    }
  }

  .table-row .cell.actions-cell {
    gap: 4px;
    padding: 0 4px;
    button {
      @include basic.icon-size(36px);
      mat-icon {
        @include basic.icon-size(1.125rem);
      }
    }
  }
}
