:host {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 100vh;
  background-color: var(--mat-sys-background);

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  padding: 4rem 1rem;
  box-sizing: border-box;
}

