<mat-card 
  class="festival-card" 
  appearance="outlined"
  [style.background]="getFestivalHighlight()"
  [style.color] ="getFestivalHighlightColor()">


  <mat-card-header>
    <!-- <div mat-card-avatar class="example-header-image"></div> -->
    <mat-card-title>{{this.festival().name}}</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  
  <mat-card-content>
    <p>
      Lieu : {{this.festival().location}} <br>
      @switch (this.festival().location) {
        @case ('Montpellier') { <p>☀ Sud de la France</p> }
        @case ('Clermont Ferrand') { <p>🌤 Au fond de l'Auvergne</p> }
        @case ('Belfort') { <p>🌤 🇨🇭 Proche de la Suisse </p> }
        @default { <p>⛈ Autre région</p> }
        }
      Année : {{this.festival().startDate.getFullYear()}}

      @if (this.festival().currentlyGoing){
        <p>Festival en cours!</p>
      }@else{
         @if (this.festival().startDate > getCurrentDate()){
          <p> Festival à venir !</p>
         }@else{
          <p> Festival passé!</p>
         }
      }
    </p>
  </mat-card-content>

  <mat-card-actions>
    <button matButton (click)="remove.emit(this.festival().id)">Supprimer</button>
  </mat-card-actions>

</mat-card>
