<div class="editor-page-wrapper">
  @if (isLoading()) {
  <div class="skeleton-container">
    <header class="page-header">
      <div class="logo-name-group">
        <div class="skeleton skeleton-logo"></div>
        <div class="skeleton skeleton-title"></div>
      </div>
      <div class="skeleton skeleton-button"></div>
    </header>

    <div class="skeleton-content">
      <div class="skeleton skeleton-section-title"></div>
      <div class="skeleton skeleton-text"></div>
      <div class="skeleton skeleton-text"></div>
      <div class="skeleton skeleton-text"></div>
    </div>
  </div>
  } @else {
  <header class="page-header">
    <div class="logo-name-group">
      @if (this.publisher().logoUrl) {
      <img [src]="this.publisher().logoUrl" alt="Logo" class="logo-img" />
      }
      <h1>{{ this.publisher().name }}</h1>
    </div>
    <div class="header-actions">
      <button mat-flat-button (click)="this.editPublisher()" color="primary" class="edit-btn">
        <mat-icon>edit</mat-icon> Modifier
      </button>
      <button mat-flat-button (click)="this.deletePublisher()" color="warn" class="delete-btn">
        <mat-icon>delete</mat-icon> Supprimer
      </button>
    </div>
  </header>

  <contact-list
    [contacts]="this.contacts()"
    (addContact)="this.openContactAddDialog()"
    (editContact)="this.openContactEditDialog($event)"
    (deleteContact)="this.deleteContact($event)"
  >
  </contact-list>

  <!-- TODO: List of games related to this publisher -->

  <!-- TODO: List of festivals related to this publisher -->
  }
</div>
